code/ch14_逻辑回归/.ipynb_checkpoints/ch14-checkpoint.ipynb
code/ch18_K-Means聚类/.ipynb_checkpoints/ch18-checkpoint.ipynb
code/ch05_列表生成式/.ipynb_checkpoints/ch05-checkpoint.ipynb
code/ch09_Python 程序性能分析初步/.ipynb_checkpoints/ch09-checkpoint.ipynb
code/ch04_单元测试与代码覆盖率/__pycache__/scale.cpython-35.pyc
code/ch07_迭代器/.ipynb_checkpoints/ch07-checkpoint.ipynb
code/ch08_Python 多线程与多进程浅析/.ipynb_checkpoints/ch08-checkpoint.ipynb
code/ch06_Collections 库/.ipynb_checkpoints/ch06-checkpoint.ipynb
code/ch12_K近邻算法/.ipynb_checkpoints/ch12-checkpoint.ipynb
code/ch13_主成分分析/.ipynb_checkpoints/ch13-checkpoint.ipynb
code/ch15_朴素贝叶斯/.ipynb_checkpoints/ch15-checkpoint.ipynb
code/ch16_决策树/.ipynb_checkpoints/ch16-checkpoint.ipynb
code/ch17_支持向量机/.ipynb_checkpoints/ch17-checkpoint.ipynb
code/ch19_人工神经网络/.ipynb_checkpoints/ch19-checkpoint.ipynb
code/ch21_Python 机器学习工具/.ipynb_checkpoints/ch21-checkpoint.ipynb
code/ch22_基于RFM的P2P用户聚类模型/.ipynb_checkpoints/ch22-checkpoint.ipynb
code/ch25_身份证汉子和数字识别/back_all/.DS_Store
code/ch25_身份证汉子和数字识别/front_all/.DS_Store
code/ch25_身份证汉字和数字识别/back_all/.DS_Store
code/ch25_身份证汉字和数字识别/front_all/.DS_Store
